<div class="header-wrapper">
  <div class="logo hidden-on-desktop"><img src="assets/img/logo-dark.svg" width="32" /></div>
  <div class="title hidden-on-mobile">Kanban Project Management Tool</div>
  <div class="right" id="header-right-section" style="display: none">
    <div class="help">
      <a href="help.html">
        <img src="./assets/icons/help.svg" alt="Help" />
      </a>
    </div>
    <a id="headerUserInitials" class="user-profile-initials" onclick="toggleHeaderMenu()"></a>
    <div id="header-menu" class="submenu">
      <a href="legal_notice.html">Legal Notice</a>
      <a href="privacy_policy.html">Privacy Policy</a>
      <a onclick="doLogOut()">Log out</a>
    </div>
  </div>
</div>
