<div class="top">
  <div class="logo hidden-on-mobile">
    <img src="./assets/img/logo.svg" alt="Join Logo" />
  </div>
  <nav class="main-nav" id="aside-main-nav">
    <a href="summary.html" id="nav-summary">
      <img src="assets/icons/summary.svg" alt="Summary Icon" />
      <span>Summary</span>
    </a>
    <a href="add_task.html" id="nav-add-task">
      <img src="assets/icons/add_task.svg" alt="Add Task Icon" />
      <span>Add Task</span>
    </a>
    <a href="board.html" id="nav-board">
      <img src="assets/icons/board.svg" alt="Board Icon" />
      <span>Board</span>
    </a>
    <a href="contacts.html" id="nav-contacts">
      <img src="assets/icons/contacts.svg" alt="Contacts Icon" />
      <span>Contacts</span>
    </a>
  </nav>
</div>
<div class="bottom hidden-on-mobile">
  <nav class="sub-nav">
    <a href="privacy_policy.html" id="nav-privacy-policy">Privacy Policy</a>
    <a href="legal_notice.html" id="nav-legal-notice">Legal Notice</a>
  </nav>
</div>
