@import "reset.css";
@import "menus.css";
@import "styles.css";
@import "legal_notice.css";

.privacy-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.privacy-header {
    font-weight: 700;
    font-size: 61px;
    line-height: 73px;
}

h4 {
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
}

p {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 24px;
}

.container {
    padding: 80px 64px;
}

@media(max-width: 670px){
    .privacy-header {
        font-size: 47px;
    }

    .container {
        padding: 80px 0;
    }
}